.App {
  text-align: center;
  padding: 10px;
  margin: 3% 10%
}

.App-logo {
  height: 80px;
}

.App-gif {
  margin-left: 30px;
}

.App-header {
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.Flex-container {
  font-size: large;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.Flex-container > div {
  margin: 5px;
}

.Link {
  background-color: #007bff;
  color: #fff;
  border: 1px solid transparent;
  border-color: #007bff;
  border-radius: 0.25rem;
}

.Link a{
  color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
